/*-- Home --*/

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    width: 100%;
}

#bannerDesktop{
    display: flex;
    justify-content: center;
} 

#bannerMobile{
    display: none;
}



/* Responsive Css/Media Queries */ 


@media screen and (max-width: 768px){

    #bannerDesktop{
        display: none;
    } 
    
    #bannerMobile{
        display: block;
        width: 86%;
    }
}


@media screen and (max-width: 375px) {

     #bannerMobile{
        width: 90%;
    }
    
}




  
  