/*-- Card --*/

.allCardsContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10%; 
  }
  
  .Background {
    border-radius: 25px;
    background-color: #e3e3e3;
    width: 83%;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .card-container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 340px;
    height: 340px;
  }
  
  .card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 340px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.8) 100%
    );
    
    display: flex;
    align-items: flex-end;
    text-align: left;
    padding: 10px;
  }

  .Cover {
    width: 340px;
    height: 340px;
    display: block;
    object-fit: cover;
  }
  
  .Title {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #ffffff;
    padding: 10px;
    width: 70%;
  }



/* Responsive Css/Media Queries */ 


@media screen and (max-width: 768px){

    .allCardsContainer{
      width: 97%;
    }

    .card-container{
      width: 250px;
      height: 250px;
    }

    .card-content{
      width: 250px;
      height: 250px;
      padding-top: inherit;
    }

    .Title{
      font-size: 18px;
      padding: 0;
      margin-left: 5%;
    }
  }


@media screen and (max-width: 375px) {

  .allCardsContainer{
    width: 96%;
    margin-top: -15px;
  }

  .Background{
    background-color: white;
    gap: 25px;
  }

  .card-container {
    border-radius: 10px;
    width: 335px;
    height: 255px;
  }

  .card-content{
    height: 255px;
  }

}



  


 

 
  
 