/*-- Header --*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  height: 80px;
  margin-left: 100px;
  margin-top: 2%;
  margin-bottom: 3%;
}



/* Responsive Css/Media Queries : */ 


@media screen and (max-width: 768px) {

  .header{
    margin-left: 7%;
  }
  
}


@media screen and (max-width: 375px) {

  .header{
    width: 90%;
    margin-left: 5%;
    height: 50px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 5%;
  }

}





