/*-- Gallery --*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1240px;
    height: 829px;
    margin: 3%;
    background: #F7F7F7;
    border-radius: 25px;
}